.Charts {
    margin: 0 5%;
    width: 80%;
    align-items: center;
    text-align: center;
}

.Chart {
    height: 35%;
    margin-top: 10%;
}

.Typography {
    margin-bottom: 5%;
}

.HideLabelsArray {
    visibility: hidden;
}

.Button {
    margin-top: 5%;
    margin-left: 10%;
}