.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement {
    background-color: white;
    outline: none;
    font: inherit;
    /* margin: 20px 0; */
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #fda49a;
}