.Auth {
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px #eee;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.Auth h4 {
    margin: 20px auto;
}

.Auth a {
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
}

.Auth a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: darkcyan;
}

.Auth p {
    border: 1px solid red;
    background-color: #fda49a;
}